@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Nunito:wght@300&family=Playfair+Display&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{ font-family: 'Noto Serif Display',serif;
	  font size: 100px ;
	  margin: 0px;
	  background-color: #1A2B4C;
	color: #9D5353; } 

h1{font-family: 'Playfair Display', serif;
	font-weight: bold;
	color: #FEEB85;
	font-size: 50px;
} 

h4{font-family: 'Playfair Display', serif;
	font-weight: bold;
	color: #FEEB85;
	font-size: 30px;
} 



h2,h3 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 25px;
	} 

a {
	text-decoration: none;
   } 

